<%- include('../partials/header') %>


<div class="container" >
    
    <div id="resource-row" class="row justify-content-center align-items-center" enctype="multipart/form-data">
        <div id="resource-column" class="col-md-6">
            <div id="resource-box" class="col-md-12">
                </div>
            </br>
              

                    <form class="form card p-3 bg-light" action="/assessments/<%= assessment._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <h3 align="center">Edit Assessment</h3>
                        <div class="form-group">
                            <label  for="title">Title:</label>
                            <input class="form-control" type="text" id="title" name="newAssess[title]" value="<%= assessment.title %>">
                        </div>
                        <div class="form-group" >
                            <label for="description">Description:</label>
                            <input class="form-control"type="text" id="description" name="newAssess[description]" value="<%= assessment.description %>">
                        <div>
                            <label class="form-group"for="instruction">Instruction:</label>
                            <input class="form-control"type="text" id="instruction" name="newAssess[instructions]" value="<%= assessment.instructions %>">
                        </div>
                        <div class="form-group">
                            <label for="numUsers">Number of user per assessment:</label>
                            <input class="form-control" type="number" id="numUsers" name="newAssess[numAssessmentsPerUser]" value="<%= assessment.numAssessmentsPerUser %>">
                        </div>
                        <div class="form-group">
                            <label for="uploadFile">Upload File:</label>
                            <input class="form-control" type="file" id="uploadFile" name="file" accept=".txt"/>
                        </div>
                        <div class="form-group">
                            <label for="users">Choose users:</label>
                            <select name="users" id="users" size="5" class="form-control"  multiple>
                                <option value="">Assign No Users</option>
                                <% users.forEach(function(user) { %>
                                    <option value="<%= user.username %>"><%= user.username %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div align ="center">
                            <button>Update Assessment</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>


