<%- include('../partials/header') %>
<div class="container" style ="width:70%">

<h1 class="text:center">Assessments Page!</h1>

<a href="/assessments/new">Create Assessment</a>

<% assessments.forEach(function(assessment) { %>
    <% let r = Math.random().toString(36).substring(7) %>
    <% console.log("random", r) %>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="<%= assessment.id %>">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#<%= r %>" aria-expanded="true" aria-controls="<%= assessment.title %>">
          <%= assessment.title %>
        </button>
      </h5>
    </div>

    <div id="<%=  r %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
            <h6><b>Description</b><h6>
                <div><%= assessment.description %></div>
            <h6><b> Link to resources</b></h6>
                <div><%= assessment.instructions %></div>
            <h6><b> Number of assesments per user</b></h6>
                <div><%= assessment.numAssessmentsPerUser %></div>
            <h6><b>  
            <a href="/assessments/<%= assessment.id %>">View More</a> </b></h6>
      </div>
    </div>
  </div>
 <% }); %>