<%- include('../partials/header') %>

<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Assessments Page!</h1>
      <p class="lead">This is the main page where you can view all of the assessments</p>
      <hr class="my-4">
      <p>Get started by creating your own assessment by clicking the button below!</p>
      <a class="btn btn-primary" href="/assessments/new">Create Assessment</a>
    </div>
    <% assessments.forEach(function(assessment, i) { %>
      <div class="card">
          <div class="card-header">
            <h5>Assesstment: <%= i + 1 %></h5>
          </div>
          <div class="card-body">
            <div>
                <p class="card-text"><b>Description: </b><%= assessment.description %></p>
            </div>
            <div>
               <p class="card-text"><b>Instructions for Resource: </b><%= assessment.instructions %></p>
              
            </div>
            <div>
                <p class="card-text"><b>Number of Links per User: </b><%= assessment.numAssessmentsPerUser %></p>
            </div>
            <div>
                <a href="/assessments/<%= assessment.id %>" class="btn btn-primary">View More</a>
            </div>
        </div>
      </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>