<%- include('../partials/header') %>

<h1>This Is The Show Page</h1>

<div>
    <h2><%= assessment.title %></h2>
    <div><%= assessment.description %></div>
    <div><%= assessment.instructions %></div>
    <div><%= assessment.numUsers %></div>
    <div>
        <ul>
            <% assessment.resources.forEach(function(resource) { %>
                <li><%= resource.link %></li>
            <% }); %>
        </ul>
    </div>
</div>

<%- include('../partials/footer') %>