<%- include('../partials/header') %>

<h1>This Is The Show Page</h1>

<div>
    <h2><%= assessment.title %></h2>
    <div><%= assessment.description %></div>
    <div><%= assessment.instructions %></div>
    <div><%= assessment.numAssessmentsPerUser %></div>
    <div>
        <ul>
            <% assessment.resources.forEach(function(resource) { %>
                <div>
                    <h4><%= resource.task %></h4>
                    <% resource.links.forEach(function(form) { %>
                        <a href="#"><li><%= form.link %></li></a>
                        <textarea name="ratingText" id="ratingText" cols="50" rows="2"></textarea>
                        <!-- Maybe change the ratings to something better -->
                        <!-- Ratings doesn't have a form yet -->
                        <select name="ratings" id="ratings">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    <% }); %>
                </div>
            <% }); %>
        </ul>
    </div>
    <form action="/assessments/<%= assessment._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</div>

<%- include('../partials/footer') %>