<%- include('../partials/header') %>

<h1>This Is The Show Page</h1>

<div>
    <h2><%= assessment.title %></h2>
    <div><%= assessment.description %></div>
    <div><%= assessment.instructions %></div>
    <div><%= assessment.numAssessmentsPerUser %></div>
    <div>
        <ul>
            <% assessment.resources.forEach(function(resource) { %>
                <div>
                    <h4><%= resource.task %></h4>
                    <% if(!resource.user.username) { %>
                        <form action="/assessments/<%= assessment._id %>/resources/<%= resource._id %>?_method=PUT" method="POST">
                            <label for="assignUser">Assign User:</label>
                            <select name="assignUser" id="assignUser" size="3">
                                <% users.forEach(function(user) { %>
                                    <option value="<%= user.username %>"><%= user.username %></option>
                                <% }); %>
                            </select>
                            <button type="submit">Assign User</button>
                        </form>
                    <% } else { %>
                        <h4><%= resource.user.username %></h4>
                        <form action="/assessments/<%= assessment._id %>/resources/<%= resource._id %>/user/<%= resource.user.id %>?_method=PUT" method="POST">
                            <button type="submit">Unassign User</button>
                        </form>
                    <% } %>
                    <% resource.links.forEach(function(form) { %>
                        <a href="#"><%= form.link %></a>
                        <% if(form.rating) { %>
                            <li>Rating: <%= form.rating %></li>
                            <li>Text Answer: <%= form.text %></li>
                        <% } else { %>
                            <form action="/assessments/<%= assessment._id %>/resources/<%= resource._id %>/forms/<%= form._id %>?_method=PUT" method="POST">
                                <textarea name="ratingText" id="ratingText" cols="50" rows="2"></textarea>
                                <select name="rating" id="rating">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <button type="submit">Submit</button>
                            </form>
                        <% } %>
                        
                        <!-- Maybe change the ratings to something better -->
                        <!-- Ratings doesn't have a form yet -->
                        
                    <% }); %>
                </div>
            <% }); %>
        </ul>
    </div>
    <form action="/assessments/<%= assessment._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</div>

<%- include('../partials/footer') %>