<%- include('../partials/header') %>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="col-md-12">
                <form class="form card p-3 bg-light" action="/assessments/<%= assessment._id %>/resources" method="POST" enctype="multipart/form-data">
                    <h3 class="text-center text-black">New Resource</h3>
                    <div class="form-group">
                        <label for="instruction" class="text-black">Instructions:</label>
                        <input id="instruction" type="text" class="form-control" name="resource[instructions]" value="<%= assessment.instructions %>" disabled>
                    </div>
                    <div class="form-group">
                        <label for="numberAssessments" class="text-black">Number of assessments:</label>
                        <input id="numberAssessments" type="text" class="form-control" name="resource[numLinksPerUser]" value="<%= assessment.numLinksPerUser %>" disabled>
                    </div>
                    <div class="form-group">
                        <label for="uploadResource" class="text-black">Upload Resource:</label><br>
                        <input id="uploadResource" type="file" name="file" accept=".txt" value="uploadFile" required/>
                    </div>
                    <div class="form-group">
                        <label class="text-black" for="user">Choose users:</label>
                        <select class="form-control" name="user" id="user" size="5">
                            <option value="">Assign No Users</option>
                            <% users.forEach(function(user) { %>
                                <option value="<%= user.username %>"><%= user.username %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" name="submit" class="btn btn-primary btn-md" value="Create Resource"> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>